@font-face {
  font-family: "Tsukimi Rounded";
  src: url("/fonts/TsukimiRounded-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tsukimi Rounded";
  src: url("/fonts/TsukimiRounded-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tsukimi Rounded";
  src: url("/fonts/TsukimiRounded-Bold.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marko One";
  src: url("/fonts/MarkoOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}